<!DOCTYPE HTML>
<html>
<head>
    <title>RobAIR : Reservation valid</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css')}}" type="text/css" />
     <script type="text/javascript" charset="utf-8">

        function goCmd(){
	    document.location.href="http://127.0.0.1:5000/commande" 
	    return true;
        }
        
    </script>
</head>
<body>
 <table BORDER=0 >
    	<tr></tr>
	<tr>
    <h1>Reservation OK</h1>

    <div>
      <td><p> <b>Starting hour :</br></b> {{start}} </p></td>
      <td><p> <b>Ending hour :</br></b> {{end}} </p></td>
    </div>
    	</tr>
    	<td></td><td><div><input type='button' id='reserv' onClick='goCmd()' value='GO to commands' class=myButton></div></td>
	<tr></tr>
    </table>
        </br>    
        <h3> RobAir project</h2>
</body>
</html> 
